name: Ubuntu RDP

on:
  workflow_dispatch:

jobs:
  ubuntu-rdp:
    runs-on: ubuntu-latest

    steps:
      - name: Update system
        run: sudo apt update

      - name: Install XFCE Desktop + xRDP
        run: |
          sudo apt install -y xfce4 xfce4-goodies xrdp
          echo xfce4-session > ~/.xsession
          sudo systemctl enable xrdp
          sudo systemctl restart xrdp

      - name: Create user password
        run: |
          echo "runner:123456" | sudo chpasswd

      - name: Show connection info
        run: |
          echo "=============================="
          echo "USERNAME: runner"
          echo "PASSWORD: 123456"
          echo "RDP PORT : 3389"
          echo "=============================="
          ip a
